header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  max-width: 300px; /*Maximo ancho permitido: 300px (Valor maximo desde figma)*/
  margin-top: 10px;
  padding-bottom: 92px;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  max-width: 720px; /*Maximo ancho permitido 720px*/
  margin: 0 auto 34px;
  top: 194px;

  font-family: "Inter-Black", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* or 104% */
  text-align: center;
}

.header__subtitle {
  max-width: 720px; /*Maximo ancho permitido 720px*/
  margin: 0 auto 64px;

  font-family: "Inter-Regular", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  text-align: center;
}

.header__image {
  max-width: 990px; /*Maximo ancho permitido 990px*/
  margin: auto;
}

.header__content-image {
  width: 100%; /*Abarca todo el ancho de una pantalla*/
  padding-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .header__logo {
    max-width: 190px;
    padding-bottom: 50px;
    margin-top: 20px;
  }

  .header__title {
    max-width: 230px;
    margin-bottom: 0;
    padding-bottom: 16px;
    font-size: 40px;
    line-height: 1;
  }

  .header__subtitle {
    max-width: 290px;
    margin-bottom: 0;
    padding-bottom: 40px;

    font-size: 16px;
  }
}

@media screen and (min-width: 544px) and (max-width: 1024px) {
  .header__logo {
    max-width: 260px;
    padding-bottom: 90px;
    margin-top: 30px;
  }

  .header__title {
    max-width: 530px;
    margin-bottom: 0;
    padding-bottom: 25px;
    font-size: 75px;
    line-height: 1;
  }

  .header__subtitle {
    max-width: 720px;
    margin-bottom: 0;
    padding-bottom: 30px;

    font-size: 30px;
  }
}
