body {
  /*Aplicar color de fondo a toda la pagina*/
  background: #2a2c2f;
}
.page {
  /*Fuente global*/
  font-family: "Inter", Arial, sans-serif;

  /*optimizacion de fuentes en distintos disposivos*/
  /*Suavizado de fuentes*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /*Tamaño de la fuente*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  /*Legibilidad del texto*/
  text-rendering: optimizeLegibility;

  margin: auto;
  width: 100%; /*Aplicacion para la responsividad*/
  color: #ffffff;
}

p {
  margin: 0;
}
